[submodule "2-grading-tests"]
	path = 2-grading-tests
	url = git@github.com:spbu-coding-2023/2-grading-tests.git
[submodule "2-Mukovenkov-Roman-Sergeyevich"]
	path = 2-Mukovenkov-Roman-Sergeyevich
	url = git@github.com:spbu-coding-2023/2-Mukovenkov-Roman-Sergeyevich.git
[submodule "2-Sibiri4ok"]
	path = 2-Sibiri4ok
	url = git@github.com:spbu-coding-2023/2-Sibiri4ok.git
[submodule "2-mdcp10"]
	path = 2-mdcp10
	url = git@github.com:spbu-coding-2023/2-mdcp10.git
[submodule "2-sofyak0zyreva"]
	path = 2-sofyak0zyreva
	url = git@github.com:spbu-coding-2023/2-sofyak0zyreva.git
[submodule "2-starscream1337"]
	path = 2-starscream1337
	url = git@github.com:spbu-coding-2023/2-starscream1337.git
[submodule "2-AlexandrKudrya"]
	path = 2-AlexandrKudrya
	url = git@github.com:spbu-coding-2023/2-AlexandrKudrya.git
[submodule "2-DanKu02"]
	path = 2-DanKu02
	url = git@github.com:spbu-coding-2023/2-DanKu02.git
[submodule "2-Demon32123"]
	path = 2-Demon32123
	url = git@github.com:spbu-coding-2023/2-Demon32123.git
[submodule "2-Dennis2909"]
	path = 2-Dennis2909
	url = git@github.com:spbu-coding-2023/2-Dennis2909.git
[submodule "2-IliaSuponeff"]
	path = 2-IliaSuponeff
	url = git@github.com:spbu-coding-2023/2-IliaSuponeff.git
[submodule "2-OGchukh"]
	path = 2-OGchukh
	url = git@github.com:spbu-coding-2023/2-OGchukh.git
[submodule "2-RodionovMaxim05"]
	path = 2-RodionovMaxim05
	url = git@github.com:spbu-coding-2023/2-RodionovMaxim05.git
[submodule "2-SecretPersona5"]
	path = 2-SecretPersona5
	url = git@github.com:spbu-coding-2023/2-SecretPersona5.git
[submodule "2-Sem4kok"]
	path = 2-Sem4kok
	url = git@github.com:spbu-coding-2023/2-Sem4kok.git
[submodule "2-VersusXX"]
	path = 2-VersusXX
	url = git@github.com:spbu-coding-2023/2-VersusXX.git
[submodule "2-VyacheslavIurevich"]
	path = 2-VyacheslavIurevich
	url = git@github.com:spbu-coding-2023/2-VyacheslavIurevich.git
[submodule "2-Ycyken"]
	path = 2-Ycyken
	url = git@github.com:spbu-coding-2023/2-Ycyken.git
[submodule "2-bikakuka"]
	path = 2-bikakuka
	url = git@github.com:spbu-coding-2023/2-bikakuka.git
[submodule "2-d031273"]
	path = 2-d031273
	url = git@github.com:spbu-coding-2023/2-d031273.git
[submodule "2-far1yg"]
	path = 2-far1yg
	url = git@github.com:spbu-coding-2023/2-far1yg.git
[submodule "2-homka122"]
	path = 2-homka122
	url = git@github.com:spbu-coding-2023/2-homka122.git
[submodule "2-ivanovmapths"]
	path = 2-ivanovmapths
	url = git@github.com:spbu-coding-2023/2-ivanovmapths.git
[submodule "2-kar1mgh"]
	path = 2-kar1mgh
	url = git@github.com:spbu-coding-2023/2-kar1mgh.git
[submodule "2-kinokotakenoko9"]
	path = 2-kinokotakenoko9
	url = git@github.com:spbu-coding-2023/2-kinokotakenoko9.git
[submodule "2-p1onerka"]
	path = 2-p1onerka
	url = git@github.com:spbu-coding-2023/2-p1onerka.git
[submodule "2-qrutyy"]
	path = 2-qrutyy
	url = git@github.com:spbu-coding-2023/2-qrutyy.git
[submodule "2-sgrishkova"]
	path = 2-sgrishkova
	url = git@github.com:spbu-coding-2023/2-sgrishkova.git
[submodule "2-shvorobsofia"]
	path = 2-shvorobsofia
	url = git@github.com:spbu-coding-2023/2-shvorobsofia.git
[submodule "2-suvorovrain"]
	path = 2-suvorovrain
	url = git@github.com:spbu-coding-2023/2-suvorovrain.git
[submodule "2-vicitori"]
	path = 2-vicitori
	url = git@github.com:spbu-coding-2023/2-vicitori.git
[submodule "2-Friend-zva"]
	path = 2-Friend-zva
	url = git@github.com:spbu-coding-2023/2-Friend-zva.git
[submodule "2-MigunovaAnastasia1"]
	path = 2-MigunovaAnastasia1
	url = git@github.com:spbu-coding-2023/2-MigunovaAnastasia1.git
[submodule "2-Vars2006"]
	path = 2-Vars2006
	url = git@github.com:spbu-coding-2023/2-Vars2006.git
[submodule "2-vicheka-sk"]
	path = 2-vicheka-sk
	url = git@github.com:spbu-coding-2023/2-vicheka-sk.git
