[submodule "2-grading-tests"]
	path = 2-grading-tests
	url = git@github.com:spbu-coding-2023/2-grading-tests.git
[submodule "2-Mukovenkov-Roman-Sergeyevich"]
	path = 2-Mukovenkov-Roman-Sergeyevich
	url = git@github.com:spbu-coding-2023/2-Mukovenkov-Roman-Sergeyevich.git
