[submodule "2-grading-tests"]
	path = 2-grading-tests
	url = git@github.com:spbu-coding-2023/2-grading-tests.git
[submodule "2-Mukovenkov-Roman-Sergeyevich"]
	path = 2-Mukovenkov-Roman-Sergeyevich
	url = git@github.com:spbu-coding-2023/2-Mukovenkov-Roman-Sergeyevich.git
[submodule "2-Sibiri4ok"]
	path = 2-Sibiri4ok
	url = git@github.com:spbu-coding-2023/2-Sibiri4ok.git
[submodule "2-mdcp10"]
	path = 2-mdcp10
	url = git@github.com:spbu-coding-2023/2-mdcp10.git
[submodule "2-sofyak0zyreva"]
	path = 2-sofyak0zyreva
	url = git@github.com:spbu-coding-2023/2-sofyak0zyreva.git
[submodule "2-starscream1337"]
	path = 2-starscream1337
	url = git@github.com:spbu-coding-2023/2-starscream1337.git
[submodule "2-AlexandrKudrya"]
	path = 2-AlexandrKudrya
	url = git@github.com:spbu-coding-2023/2-AlexandrKudrya.git
[submodule "2-DanKu02"]
	path = 2-DanKu02
	url = git@github.com:spbu-coding-2023/2-DanKu02.git
[submodule "2-Demon32123"]
	path = 2-Demon32123
	url = git@github.com:spbu-coding-2023/2-Demon32123.git
[submodule "2-Dennis2909"]
	path = 2-Dennis2909
	url = git@github.com:spbu-coding-2023/2-Dennis2909.git
[submodule "2-IliaSuponeff"]
	path = 2-IliaSuponeff
	url = git@github.com:spbu-coding-2023/2-IliaSuponeff.git
[submodule "2-OGchukh"]
	path = 2-OGchukh
	url = git@github.com:spbu-coding-2023/2-OGchukh.git
